aside.logo {
    background-color: var(--bg-dark);
    display: flex;
    align-items: center;
    justify-content: center;
}

aside.logo img {
    padding: 0px 15px;
    width: 350px;
    overflow: hidden;
}

@media(max-width: 576px) {
    aside.logo img {
        width: 300px;
        padding-top: 10px;
    }
}